# 데이터 준비

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
import os
from glob import glob
import math

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
!ls '/gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/data'

디즈니	아마존	파라마운트  넷플릭스

In [4]:
data_dir = '/gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data2'
save_data_dir = '/gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data3'
credits_file_names = ["amazon_credits.csv", "netflix_credits.csv", "disney_credits.csv", "paramount_credits.csv"]
titles_file_names = ["amazon_titles.csv", "netflix_titles.csv", "disney_titles.csv", "paramount_titles.csv"]
platform_names = ["amazon", "netflix", "disney", "paramount"]

# 아마존
amazon_credits_path = os.path.join(data_dir, credits_file_names[0])
amazon_titles_path = os.path.join(data_dir, titles_file_names[0])
# 넷플릭스
netflix_credits_path = os.path.join(data_dir, credits_file_names[1])
netflix_titles_path = os.path.join(data_dir, titles_file_names[1])
# 디즈니
disney_credits_path = os.path.join(data_dir, credits_file_names[2])
disney_titles_path = os.path.join(data_dir, titles_file_names[2])
# 파라마운트
paramount_credits_path = os.path.join(data_dir, credits_file_names[3])
paramount_titles_path = os.path.join(data_dir, titles_file_names[3])

In [5]:
# 아마존
amazon_credits = pd.read_csv(amazon_credits_path)
amazon_titles = pd.read_csv(amazon_titles_path)
# 넷플릭스
netflix_credits = pd.read_csv(netflix_credits_path)
netflix_titles = pd.read_csv(netflix_titles_path)
# 디즈니
disney_credits = pd.read_csv(disney_credits_path)
disney_titles = pd.read_csv(disney_titles_path)
# 파라마운트
paramount_credits = pd.read_csv(paramount_credits_path)
paramount_titles = pd.read_csv(paramount_titles_path)

In [6]:
credits_list = [amazon_credits, netflix_credits, disney_credits, paramount_credits]
titles_list = [amazon_titles, netflix_titles, disney_titles, paramount_titles]

# credits 데이터 프레임 병합 및 회사명 추가

In [7]:
# 데이터 병합 전 credits 파일과 동일한 columns 명을 갖는 빈 데이터 프레임 생성
blank_df = pd.DataFrame(data=[], columns=amazon_credits.columns)
# blank_df

In [8]:
ex_df = blank_df
for i, credits in enumerate(credits_list):
    # 회사명 컬럼 추가 및 회사명 데이터 추가
    credits["platform"] = platform_names[i]
    temp_df = credits
    # 데이터 프레임 병합
    ex_df = pd.concat([ex_df, temp_df], axis=0)

# csv 저장
save_data_path = os.path.join(save_data_dir, "merged_credits.csv")
print("저장 경로 :", save_data_path)
ex_df.to_csv(save_data_path, index=False)

저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data3/merged_credits.csv

In [9]:
ex_df

,person_id,id,name,character,role,platform
0,59401,ts20945,Joe Besser,Joe,ACTOR,amazon
1,31460,ts20945,Moe Howard,Moe,ACTOR,amazon
2,31461,ts20945,Larry Fine,Larry,ACTOR,amazon
3,21174,tm19248,Buster Keaton,Johnny Gray,ACTOR,amazon
4,28713,tm19248,Marion Mack,Annabelle Lee,ACTOR,amazon
...,...,...,...,...,...,...
39837,357110,tm1045408,Kate Davis,NaN,DIRECTOR,paramount
39838,68620,tm1045408,David Heilbroner,NaN,DIRECTOR,paramount
39839,2078684,tm1106415,Guillem Balagué,NaN,ACTOR,paramount
39840,2078564,tm1106415,Alex Gale,NaN,DIRECTOR,paramount
39841,1856281,tm1032011,Phil Timpany,NaN,DIRECTOR,paramount

# titles 데이터 프레임 병합 및 회사명 추가

In [10]:
# 데이터 병합 전 titles 파일과 동일한 columns 명을 갖는 빈 데이터 프레임 생성
blank_df = pd.DataFrame(data=[], columns=amazon_titles.columns)
# blank_df

In [11]:
ex_df = blank_df
for i, titles in enumerate(titles_list):
    # 회사명 컬럼 추가 및 회사명 데이터 추가
    titles["platform"] = platform_names[i]
    temp_df = titles
    # 데이터 프레임 병합
    ex_df = pd.concat([ex_df, temp_df], axis=0)
    
# csv 저장
save_data_path = os.path.join(save_data_dir, "merged_titles.csv")
print("저장 경로 :", save_data_path)
ex_df.to_csv(save_data_path, index=False)

저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data3/merged_titles.csv

In [12]:
ex_df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,platform
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,8.6,1092.0,15.424,7.6,amazon
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,8.2,89766.0,8.647,8.0,amazon
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,8.1,63026.0,8.435,7.8,amazon
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,7.8,57835.0,11.270,7.4,amazon
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,7.9,30924.0,8.273,7.6,amazon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2574,tm1099382,The 26th Street Garage: The FBI's Untold Story...,MOVIE,"The story of ingenuity, teamwork and determina...",2021,NaN,58,['documentation'],[],NaN,5.5,60.0,2.106,7.0,paramount
2575,tm975981,Cher & the Loneliest Elephant,MOVIE,"""The World's Loneliest Elephant"" Kaavan will f...",2021,NaN,46,['documentation'],"['KH', 'PK', 'GB', 'US']",NaN,7.6,237.0,1.758,7.0,paramount
2576,tm1106415,Destination Porto: The Unimaginable Journey,MOVIE,Follow soccer journalist Guillem Belagué as he...,2021,PG,85,['documentation'],[],NaN,7.7,8.0,0.600,7.7,paramount
2577,ts305329,House Calls with Dr. Phil,SHOW,The talk show legend travels across the countr...,2021,TV-14,43,['reality'],['US'],1.0,5.4,35.0,0.600,5.4,paramount
2578,tm1100359,Race Against Time: The CIA and 9/11,MOVIE,Follows former top officials and elite operati...,2021,NaN,89,['documentation'],[],NaN,4.6,64.0,2.403,4.6,paramount