In [17]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
import os
from glob import glob

import pandas as pd
import numpy as np

In [ ]:
data_dir = '/gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/data'
save_data_dir = '/gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data'

# 아마존
amazon_credits_path = os.path.join(data_dir, "아마존", "credits.csv")
amazon_titles_path = os.path.join(data_dir, "아마존", "titles.csv")
# 넷플릭스
netflix_credits_path = os.path.join(data_dir, "넷플릭스", "credits.csv")
netflix_titles_path = os.path.join(data_dir, "넷플릭스", "titles.csv")
# 디즈니
disney_credits_path = os.path.join(data_dir, "디즈니", "credits.csv")
disney_titles_path = os.path.join(data_dir, "디즈니", "titles.csv")
# 파라마운트
paramount_credits_path = os.path.join(data_dir, "파라마운트", "credits.csv")
paramount_titles_path = os.path.join(data_dir, "파라마운트", "titles.csv")

In [ ]:
credits_paths = [amazon_credits_path, netflix_credits_path, disney_credits_path, paramount_credits_path]
credits_save_file_names = ["amazon_credits.csv", "netflix_credits.csv", "disney_credits.csv", "paramount_credits.csv"]

titles_paths = [amazon_titles_path, netflix_titles_path, disney_titles_path, paramount_titles_path]
titles_save_file_names = ["amazon_titles.csv", "netflix_titles.csv", "disney_titles.csv", "paramount_titles.csv"]

In [ ]:
amazon_credits = pd.read_csv(credits_paths[0])
amazon_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124235 entries, 0 to 124234
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   person_id  124235 non-null  int64
 1   id         124235 non-null  object
 2   name       124235 non-null  object
 3   character  107948 non-null  object
 4   role       124235 non-null  object
dtypes: int64(1), object(4)
memory usage: 4.7+ MB

In [ ]:
amazon_titles = pd.read_csv(titles_paths[0])
amazon_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9871 entries, 0 to 9870
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9871 non-null   object
 1   title                 9871 non-null   object
 2   type                  9871 non-null   object
 3   description           9752 non-null   object
 4   release_year          9871 non-null   int64
 5   age_certification     3384 non-null   object
 6   runtime               9871 non-null   int64
 7   genres                9871 non-null   object
 8   production_countries  9871 non-null   object
 9   seasons               1357 non-null   float64
 10  imdb_id               9204 non-null   object
 11  imdb_score            8850 non-null   float64
 12  imdb_votes            8840 non-null   float64
 13  tmdb_popularity       9324 non-null   float64
 14  tmdb_score            7789 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 1.1+ MB

In [ ]:
amazon_titles.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6

In [ ]:
amazon_credits.head()

   person_id       id           name      character   role
0      59401  ts20945     Joe Besser            Joe  ACTOR
1      31460  ts20945     Moe Howard            Moe  ACTOR
2      31461  ts20945     Larry Fine          Larry  ACTOR
3      21174  tm19248  Buster Keaton    Johnny Gray  ACTOR
4      28713  tm19248    Marion Mack  Annabelle Lee  ACTOR

In [ ]:
amazon_titles.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,9871.000000,9871.000000,1357.000000,8850.000000,8.840000e+03,9324.000000,7789.000000
mean,2001.327221,85.973052,2.791452,5.976395,8.533614e+03,6.910204,5.984247
std,25.810071,33.512466,4.148958,1.343842,4.592015e+04,30.004098,1.517986
min,1912.000000,1.000000,1.000000,1.100000,5.000000e+00,0.000011,0.800000
25%,1995.500000,65.000000,1.000000,5.100000,1.170000e+02,1.232000,5.100000
50%,2014.000000,89.000000,1.000000,6.100000,4.625000e+02,2.536000,6.000000
75%,2018.000000,102.000000,3.000000,6.900000,2.236250e+03,5.634000,6.900000
max,2022.000000,549.000000,51.000000,9.900000,1.133692e+06,1437.906000,10.000000

In [ ]:
amazon_credits.describe()

          person_id
count  1.242350e+05
mean   4.064737e+05
std    5.616296e+05
min    1.000000e+00
25%    3.899200e+04
50%    1.339490e+05
75%    5.712560e+05
max    2.371153e+06

# credits 파일
- 중복 제거

In [ ]:
def credits_process(credits_paths, save_data_dir, file_names):
    for i, path in enumerate(credits_paths):
        credits = pd.read_csv(path)
        # 중복 제거
        credits.drop_duplicates()

        # csv 저장
        save_data_path = os.path.join(save_data_dir, file_names[i])
        print("저장 경로 :", save_data_path)
        credits.to_csv(save_data_path, index=False)

In [ ]:
credits_process(credits_paths, save_data_dir, credits_save_file_names)

저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data/amazon_credits.csv
저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data/netflix_credits.csv
저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data/disney_credits.csv
저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data/paramount_credits.csv

# titles 파일
- 중복 제거
- IMDB ID column 제거

In [ ]:
def titles_process(titles_paths, save_data_dir, file_names):
    for i, path in enumerate(titles_paths):
        titles = pd.read_csv(path)
        # 중복 제거
        titles.drop_duplicates()

        # imdb_id column 제거
        del titles["imdb_id"]

        # csv 저장
        save_data_path = os.path.join(save_data_dir, file_names[i])
        print("저장 경로 :", save_data_path)
        titles.to_csv(save_data_path, index=False)

In [ ]:
titles_process(titles_paths, save_data_dir, titles_save_file_names)

저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data/amazon_titles.csv
저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data/netflix_titles.csv
저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data/disney_titles.csv
저장 경로 : /gdrive/MyDrive/0. 인공지능 학습/아이펠 대전 3기/5. 해커톤/1차 해커톤/processed_data/paramount_titles.csv

In [ ]:
path = os.path.join(save_data_dir, titles_save_file_names[0])
titles = pd.read_csv(path)

In [ ]:
titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,7.9,30924.0,8.273,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9866,tm510327,Lily Is Here,MOVIE,Dallas and heroin have one thing in common: Du...,2021,NaN,93,['drama'],['US'],NaN,5.3,20.0,1.406,NaN
9867,tm1079144,Jay Nog: Something from Nothing,MOVIE,Something From Nothing takes you on a stand-up...,2021,NaN,55,['comedy'],['US'],NaN,NaN,NaN,0.600,NaN
9868,tm847725,Chasing,MOVIE,A cop from Chennai sets out to nab a dreaded d...,2021,NaN,116,['crime'],['IN'],NaN,NaN,NaN,1.960,NaN
9869,tm1054116,Baikunth,MOVIE,"This story is about prevalent caste problem, e...",2021,NaN,72,"['family', 'drama']",[],NaN,8.4,49.0,0.645,NaN
9870,ts275838,Waking Up Eighty,SHOW,"Kara Stewart, 16, is fed up with just about ev...",2021,NaN,10,['drama'],[],1.0,NaN,NaN,NaN,NaN